<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="dbconfig/db.properties"></properties>
	<typeAliases>
		<package name="com.sunshine.model"></package>
	</typeAliases>
	<plugins>
		<!-- com.github.pagehelper为PageHelper类所在包名 -->
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<!-- 4.0.0以后版本可以不设置该参数 -->
			<property name="dialect" value="mysql" />
			<!-- 该参数默认为false -->
			<!-- 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 -->
			<!-- 和startPage中的pageNum效果一样 -->
			<property name="offsetAsPageNum" value="true" />
			<!-- 该参数默认为false -->
			<!-- 设置为true时，使用RowBounds分页会进行count查询 -->
			<property name="rowBoundsWithCount" value="true" />
			<!-- 设置为true时，如果pageSize=0或者RowBounds.limit = 0就会查询出全部的结果 -->
			<!-- （相当于没有执行分页查询，但是返回结果仍然是Page类型） -->
			<property name="pageSizeZero" value="true" />
			<!-- 3.3.0版本可用 - 分页参数合理化，默认false禁用 -->
			<!-- 启用合理化时，如果pageNum<1会查询第一页，如果pageNum>pages会查询最后一页 -->
			<!-- 禁用合理化时，如果pageNum<1或pageNum>pages会返回空数据 -->
			<property name="reasonable" value="false" />
			<!-- 3.5.0版本可用 - 为了支持startPage(Object params)方法 -->
			<!-- 增加了一个`params`参数来配置参数映射，用于从Map或ServletRequest中取值 -->
			<!-- 可以配置pageNum,pageSize,count,pageSizeZero,reasonable,orderBy,不配置映射的用默认值 -->
			<!-- 不理解该含义的前提下，不要随便复制该配置 -->
			<property name="params"
				value="pageNum=pageHelperStart;pageSize=pageHelperRows;" />
			<!-- 支持通过Mapper接口参数来传递分页参数 -->
			<property name="supportMethodsArguments" value="false" />
			<!-- always总是返回PageInfo类型,check检查返回类型是否为PageInfo,none返回Page -->
			<property name="returnPageInfo" value="none" />
		</plugin>

	</plugins>
	<!-- 
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${uname}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
       <!--  
		<mapper resource="mybatis/mappers/AdminMapper.xml" />
		<mapper resource="mybatis/mappers/AdviceDao.xml" />
		<mapper resource="mybatis/mappers/RoleDao.xml" />
		<mapper resource="mybatis/mappers/VisitRecordDao.xml" />
		<mapper resource="mybatis/mappers/ComplainDao.xml" />
		<mapper resource="mybatis/mappers/ElderDao.xml" />
		<mapper resource="mybatis/mappers/ElderUserDao.xml" />
		<mapper resource="mybatis/mappers/WeightDao.xml" />
		<mapper resource="mybatis/mappers/ModuleDao.xml" />
		<mapper resource="mybatis/mappers/RoleModuleDao.xml" />

		 <mapper resource="mybatis/mappers/BloodLipidsDao.xml" /> 
		
		<mapper resource="mybatis/mappers/BloodPressure.xml" />
		<mapper resource="mybatis/mappers/BloodSugarDao.xml" />
		<mapper resource="mybatis/mappers/StepsDao.xml" />
        
	<mapper resource="mybatis/mappers/VolunteerDao.xml" />

		<mapper resource="mybatis/mappers/StaffInfoDao.xml"/> 
		<mapper resource="mybatis/mappers/LoginRecordDao.xml"/>
		<mapper resource="mybatis/mappers/CommunityDao.xml"/>
		
		<mapper resource="mybatis/mappers/UricAcaidDao.xml" />
			<mapper resource="mybatis/mappers/UserMappeer.xml" />
		<mapper resource="mybatis/mappers/TipsDao.xml" />
		<mapper resource="mybatis/mappers/VolunteeractivityDao.xml" />
		<mapper resource="mybatis/mappers/EquipmentDao.xml" />
		<mapper resource="mybatis/mappers/EquipmentcategoryDao.xml" />
		<mapper resource="mybatis/mappers/EquipmentrecordDao.xml" />
		<mapper resource="mybatis/mappers/CommunityDao.xml" />
		    -->
	</mappers>
	 -->
</configuration>